.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
  position: relative;
}

.main {
  width: 100%;
  max-width: 896px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 32px 16px;
  position: relative;
  z-index: 10;
}
